#root{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #808080;
background-image: linear-gradient(43deg, #808080 0%, #A0A0A0 46%, #D3D3D3 100%);

}

.mainPage{
  flex-grow: 1;
}