#root{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #9197b0;
  background-image: linear-gradient(43deg, #111b4e 0%, #3f0f3c 46%, #a89062 100%);

}

.mainPage{
  flex-grow: 1;
}